@import url(config/colors.css);
@import url(config/haloEffect.css);

body{
	text-shadow: 0 0 var(--halo-bright-radius) var(--light);
}

*:hover:not(:empty):not(:has(:not(:is(
	i, u, code, span, br, img
)))){
	text-shadow: none;
}

table tr:first-child{
	box-shadow: 0px 0px var(--halo-bright-radius) var(--light);
}

th{
	text-shadow: 0 0 var(--halo-dark-radius) var(--background);
}

tr:hover td{
	text-shadow: 0 0 var(--halo-dark-radius) var(--background);
}

td:hover{
	text-shadow: none;
}

.rest{
	text-shadow: 0 0 var(--halo-bright-radius) var(--light-gray-out);
}

tr:hover .rest{
	text-shadow: 0 0 var(--halo-dark-radius) var(--dark-gray-out);
}

tr:hover *:hover>.rest{
	text-shadow: none;
}

table tr:nth-child(odd) td:first-child{
	background-image: linear-gradient(to left, var(--slight2), transparent var(--halo-bright-radius));
}

table tr:nth-child(odd) td:not(:first-child,:last-child){

	background-image: 
		linear-gradient(to right, var(--slight2), transparent var(--halo-bright-radius)),
		linear-gradient(to left, var(--slight2), transparent var(--halo-bright-radius));
}

table tr:nth-child(odd) td:last-child{

	background-image: linear-gradient(to right, var(--slight2), transparent var(--halo-bright-radius));
}

td:first-child{	
	background-image: linear-gradient(to left, var(--slight2), transparent var(--halo-bright-radius));
}
td:not(:first-child,:last-child){	
	background-image: 
		linear-gradient(to right, var(--slight2), transparent var(--halo-bright-radius)),
		linear-gradient(to left, var(--slight2), transparent var(--halo-bright-radius));
}
td:last-child{	
	background-image: linear-gradient(to right, var(--slight2), transparent var(--halo-bright-radius));
}