@import url(config/colors.css);

table{
	border-collapse: collapse;
}

th{
	background-color: var(--light);
	color: var(--background);
	font-weight: normal;
}

th:not(:first-child){
	border-left: 3px solid var(--background-among-light);
}

table tr:nth-child(odd) td{
	background-color: var(--slight);
}

table tr:nth-child(odd):hover td{

	background: var(--light);
}

td{
	padding: 0 0.5em;
}

td:not(:first-child){
	border-left: 1px solid var(--light);
}

tr:hover td{
	background: var(--light);
	color: var(--background);
}

tr:hover td:not(:first-child){
	border-left: 1px solid var(--background-among-light);
}

input:not(:checked)#show-reserved ~ table .reserved{
	display: none;
}