:root{
	--light: #22B14C;
	--strong1: #1D8938;
	--strong2: #209D42;
	--slight2: #031E0F;
	--slight1: #02140A;
	--slight: #010A05;
	--background: black;
	--background-among-light: var(--strong2);

	--light-gray-out: gray;
	--dark-gray-out: #202020;
}